* {
        margin: 0;
        padding: 0;
}
html, body {
        color: black;
	background-color: grey;
        height: 100%;
}
div, input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.outer {
	font-size: 16pt;
	height: 100%;
	position: relative;
	width: 100%;
}
div.channels {
	background-color: lightgrey;
	float:left;
	height: 100%;
	padding-top: 2.5em;
	width: 33%;
}
div.socket {
	display: none;
	margin-top: 0.2em;
	margin-left: 0.5em;
	padding-bottom: 2em;
	overflow-y: auto;
	height: 90%;
}
div.socket.active {
	display: block;
}
div.chat {
	background-color: white;
	position: relative;
	float: right;
	height: 100%;
	width: 67%;
}
div.topic {
	background-color: lightgrey;
	display: none;
	width: 100%;
}
div.topic.active {
	display: block;
}
div.command {
	background-color: black;
	bottom: 0;
	position: absolute;
	width: 100%;
}
#usercmd {
	border: 1;
	bottom: 0;
	font-size: 16pt;
	position: absolute;
	width: 100%;
}

.rtl {
	direction: rtl;
	unicode-bidi: bidi-override;
}

span.nick {
	font-family: monospace;
	font-size: 90%;
}
span.msg {
	margin-left: 0.1em;
}
span.datestamp {
	display: none; /* hidden by default */
	font-family: monospace;
	font-size: 90%;
	margin-right: 0.1em;
}
span.timestamp {
	font-family: monospace;
	font-size: 90%;
	margin-right: 0.1em;
}
span.sysmsg {
	font-family: monospace;
	font-size: 90%;
	color: darkgrey;
}

div.channels > li {
	background-color: #cccccc;
	list-style-type: none;
	padding-left: 2em;
}

div.channels > li.active {
	background-color: #eeeeee;
	font-weight: bold;
}
div.channels > li.unread {
	color: blue;
}
